<div class="modal fade" id="adblockModal" tabindex="-1" aria-labelledby="adblockModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-red-50 border-b border-red-100">
        <h5 class="modal-title text-red-700 font-bold text-lg" id="adblockModalLabel">
            <i class="fa-solid fa-triangle-exclamation mr-2"></i>AdBlock Detected
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body text-center p-6">
        <div class="mb-4 text-red-500 text-5xl">
            <i class="fa-solid fa-ban"></i>
        </div>
        <p class="text-gray-700 text-lg mb-6">
            It looks like you are using an ad blocker. Our free tools are supported by ads. Please disable it to continue using our services.
        </p>
        
        <div class="d-flex justify-content-center gap-3">
            <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">
                I've Disabled It
            </button>
        </div>
      </div>
    </div>
  </div>
</div>